<div class="content-wrapper">
  <h1>{{ name }}</h1>
  <div class="content">
    <div class="column">
      <div class="hotel">
        <img src="/assets/1.jpg" class="hotel-top-img" />
        <div class="hotel-info-nav">
          Hotel | Fishing | Tours | Weather
        </div>
        <div class="hotel-info-data">
          <h3 class="hotel-info-header">Righteous indignation & like</h3>
          <div class="hotel-info-list">
            <div class="hotel-info-item">
              <div class="item-data">
                <div class="item-name">Universal Cabana</div>
                <div class="item-description">Best one</div>
                <div class="item-location">Orlando</div>
                <div class="item-phone-number">Tel:+3242353434</div>
              </div>
              <div class="item-image">
                <img src="/assets/res.jpg" />
                <img src="/assets/r1.jpg" />
              </div>
            </div>

            <div class="hotel-info-item active">
              <div class="item-data">
                <div class="item-name">Universal Cabana</div>
                <div class="item-description">Best one</div>
                <div class="item-location">Orlando</div>
                <div class="item-phone-number">Tel:+3242353434</div>
              </div>
              <div class="item-image">
                <img src="/assets/res.jpg" />
                <img src="/assets/r1.jpg" />
              </div>
            </div>

            <div class="hotel-info-item">
              <div class="item-data">
                <div class="item-name">Universal Cabana</div>
                <div class="item-description">Best one</div>
                <div class="item-location">Orlando</div>
                <div class="item-phone-number">Tel:+3242353434</div>
              </div>
              <div class="item-image">
                <img src="/assets/res.jpg" />
                <img src="/assets/r1.jpg" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="weather">
        <h3>Et harum quidem</h3>
        <div class="temperature">
          <span class="sun">12&deg;</span>
        </div>
        <p class="water">Water 11°</p>
      </div>
      <div class="rating"></div>
    </div>
  </div>
</div>
